<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wg</property>
		<property name="hibernate.connection.username">betoim</property>
		<property name="hibernate.connection.password">15935728</property>

		<!-- Pool de Conexões -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas (true, false) -->
		<property name="show_sql">false</property>
		<property name="hibernate.format_sql">false</property>

		<!-- Cria as tabelas do banco de dados (create, update, validate)-->
		<property name="hibernate.hbm2ddl.auto">validate</property>
		
		<!-- Relação das entidades do BD -->
		<mapping class="br.com.baiocchilousa.wg.domain.Cidade" />
		<mapping class="br.com.baiocchilousa.wg.domain.Cliente" />
		<mapping class="br.com.baiocchilousa.wg.domain.Config" />
		<mapping class="br.com.baiocchilousa.wg.domain.Foto" />
		<mapping class="br.com.baiocchilousa.wg.domain.FotoImovel" />
		<mapping class="br.com.baiocchilousa.wg.domain.Imovel" />
		<mapping class="br.com.baiocchilousa.wg.domain.Negocio" />
		<mapping class="br.com.baiocchilousa.wg.domain.Pais" />
		<mapping class="br.com.baiocchilousa.wg.domain.Pessoa" />
		<mapping class="br.com.baiocchilousa.wg.domain.TipoImovel" />
		<mapping class="br.com.baiocchilousa.wg.domain.TipoNegocio" />
		<mapping class="br.com.baiocchilousa.wg.domain.TipoUsuario" />
		<mapping class="br.com.baiocchilousa.wg.domain.Uf" />
		<mapping class="br.com.baiocchilousa.wg.domain.Usuario" />
		
		
	</session-factory>

</hibernate-configuration>